* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  font-size: 0;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(29, 27, 27);
  overflow: hidden;
}

.slider {
  position: relative;
  max-width: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__card {
  position: absolute;
  max-width: 520px;
  width: 100%;
  min-height: 600px;
  background: #fff;
  padding: 40px;
  box-shadow: 0px 24px 48px rgba(42, 134, 197, 0.12),
    0px -12px 48px rgba(42, 134, 197, 0.12);
  border-radius: 24px;
}

.default-card {
  position: absolute;
  display: flex;
  align-items: end;
  justify-content: end;
  max-width: 600px;
  width: 100%;
  background: #fff;
  min-height: 520px;
  z-index: 1;
  box-shadow: 0px 24px 48px rgba(42, 134, 197, 0.12),
    0px -12px 48px rgba(42, 134, 197, 0.12);
  border-radius: 24px;
}

.top-card {
  position: absolute;
  z-index: 2;
}

.bottom-card {
  position: absolute;
  z-index: 0;
  transform: rotate(-90deg);
}

.quotes-box {
  width: 100%;
  text-align: end;
  opacity: 0.3;
  margin-bottom: 32px;
}

.card__about {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.card-avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-right: 16px;
}

.card-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: "liga" off;
  color: #0f1d2b;
}

.card-text {
  margin-bottom: 64px;
  font-size: 18px;
  line-height: 32px;
  font-feature-settings: "liga" off;
  color: #51595b;
  font-family: "Manrope", sans-serif;
}

.arrows-box {
  position: absolute;
  display: flex;
  z-index: 99;
  right: 80px;
  bottom: -255px;
}

.arrow-svg__container {
  border: none;
  box-shadow: none;
  background: none;
}

.arrow {
  transition: all 0.3s;
}
.arrow:hover {
  cursor: pointer;
}

.arrow path {
  fill: #51595b40;
}

.arrow:hover path {
  fill: #2A86C5;
}

.left-arrow {
  transform: scale(-1, 1);
}

.left-arrow:hover {
  transform: scale(-1.2, 1.2);
}

.right-arrow:hover {
  transform: scale(1.2);
}

.divider {
  position: relative;
  z-index: 50;
  width: 1px;
  background-color: #51595b14;
}

.transform-left {
  animation: 4s linear 1;
  animation-name: left;
  animation-fill-mode: forwards;
}

.transform-right {
  animation: 4s ease-out 1;
  animation-name: right;
  animation-fill-mode: forwards;
}

.transform-left-reverse {
  animation: 4s linear 1;
  animation-name: left;
  animation-fill-mode: forwards;
  animation-direction: reverse;
}

.transform-right-reverse {
  animation: 4s ease-out 1;
  animation-name: right;
  animation-fill-mode: forwards;
  animation-direction: reverse;
}

@keyframes left {
  0% {
    transform: translateX(0px) rotate(0deg);
    z-index: 2;
    opacity: 1;
  }

  50% {
    transform: translateX(-700px) rotate(-15deg);
    z-index: 2;
    opacity: 1;
  }

  51% {
    z-index: 0;
  }

  68% {
    transform: translateX(-480px) rotate(-90deg);
  }

  100% {
    transform: translateX(0px) rotate(-90deg);
    opacity: 0.5;
    z-index: 0;
  }
}

@keyframes right {
  0% {
    transform: rotate(-90deg);
    z-index: 0;
    opacity: 0;
  }

  50% {
    transform: translateX(700px) rotate(-75deg);
    opacity: 1;
    z-index: 0;
  }

  51% {
    z-index: 2;
  }

  68% {
    transform: translateX(480px) rotate(0deg);
    z-index: 2;
  }

  100% {
    transform: translateX(0px) rotate(0deg);
    z-index: 2;
  }
}
